#/actuator
management:
  endpoints:
    web:
      exposure:
        include: "health,startup,shutdown,spring"
        exclude: "env,beans"
  info:
    env:
        enabled: true

spring:
  profiles:
    active: dev
  cache:
    type: redis
    redis:
      host: localhost
      port: 6379
      time-to-live: 500S
    
info:
  application:
    name: commerce-api
    description: Aplicação de integração usando Spring Boot
    author: Emerson Pereira da Silva
    repository: https://github.com/eps364/commerce-api
    version: "@project.version@"

# springdoc:
#   version: '@springdoc.version@'
#   swagger-ui:
#     use-root-path: false
#     path: /swagger-ui.html
#     config-url: /api-docs
#     enabled: true

logging:
  config: classpath:log4j2.yaml
